  <div *ngFor="let producto of productos | async">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{producto.name | uppercase}}</mat-card-title>
          <mat-card-subtitle>{{producto.price | currency}} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{producto.photo_url}} alt="Producto">
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="detalle/{{producto.id}}">DETALLE</button>
        </mat-card-actions>
      </mat-card>
  </div>